
@{
    ViewBag.Title = "Manage";
}


<body>
    <div class="bg">
        <center>
            <h1>Welcome Administrator!!!</h1>
            <br />
            <a href="/Admin/AddBook" class="btn btn-primary">Add E-Book Details</a><br />
            <br />
            <a href="/Admin/ManageBook" class="btn btn-success">Manage E-Books</a><br />
            <br />
            <a href="/Admin/AddCategory" class="btn btn-warning">Add Category</a><br />
            <br />
            <a href="/Admin/ManageCategory" class="btn btn-info">Manage Category</a><br />
            <br />
            <a href="/Admin/ViewOrders" class="btn btn-danger">View Orders</a><br />
            <br />
            <a href="/Admin/UserList" class="btn btn-primary">List of users</a><br />
        </center>
    </div>
</body>




