
@{
    ViewBag.Title = "UploadBook";
}

<h2>Upload Book</h2>

@using (Html.BeginForm("UploadBook", "UploadAndDownload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="submit" value="Upload" />
        @ViewBag.Message
    </div>
}